    * {
        margin: 0;
        padding: 0;
        font-family: Arial;
        border: border-box;
    }
    
    body {
        background-color: #e2dddd;
    }
    
    .navbar {
        height: 60px;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .nav-logo {
        height: 55px;
        width: 100px;
        margin-right: 2px;
    }
    
    .logo {
        background-image: url("amazon_log.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 80px;
        width: 99%;
        margin-top: -20px;
        margin-left: 10px;
    }
    
    .border {
        border: 2px solid transparent
    }
    
    .border:hover {
        border: 2px solid white;
    }
    /* box 2 */
    
    .nav-add {
        margin-left: 20px;
    }
    
    .add-logo {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }
    
    .firsttext {
        color: #cccccc;
        font-size: 0.7rem;
        margin-left: 20px;
    }
    
    .secondtext {
        color: white;
        font-weight: bold;
        font-size: 1rem;
        margin-left: 3px;
    }
    /* box 3 */
    
    .nav-search {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 620px;
        background-color: pink;
        border-radius: 5px;
    }
    
    .select {
        width: 45px;
        height: 45px;
        text-align: center;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
    
    .input {
        height: 45px;
        width: 100%;
        display: relative;
        font-size: 18px;
    }
    
    .search-icon {
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        background-color: #febd68;
        height: 41px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: black;
    }
    
    .nav-search:hover {
        border: 1px solid #febd68;
    }
    
    .sign-first {
        color: #cccccc;
        font-size: 0.7rem;
    }
    
    .sign-second {
        color: white;
        font-weight: bold;
        font-size: 0.8rem;
    }
    
    .nav-cart i {
        font-size: 27px;
    }
    
    .nav-cart p {
        font-size: 0.85rem;
        font-weight: 700;
        position: relative;
        top: 15px;
    }
    
    .nav-cart {
        display: flex;
    }
    
    .pannel {
        height: 40px;
        background-color: #222f3d;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .pannel-ops p {
        display: inline;
        margin-right: 20px;
    }
    
    .pannel-ops {
        width: 70%;
        font-size: 0.85rem;
    }
    
    .pannel-deals {
        font-size: 0.9rem;
    }
    
    .hero-section {
        background-image: url("hero.jpg");
        height: 500px;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hero-msg {
        background-color: white;
        width: 95%;
        height: 40px;
        font-size: 0.85rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hero-msg a {
        color: #007185;
    }
    
    .box {
        height: 330px;
        width: 330px;
        margin-top: 20px;
        background-color: white;
    }
    
    .shop-section-1 {
        display: flex;
        justify-content: space-evenly;
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
        top: -150px;
    }
    
    .box1 {
        background-image: url("box1.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        font-size: 25px;
        border: 2px solid transparent;
    }
    
    .box1 p {
        font-size: 25px;
        font-weight: bold;
        padding-left: 20px;
        padding-top: 10px;
    }
    
    .box2 {
        display: flex;
        justify-content: space-evenly;
        align-items: bottom;
        border: 2px solid transparent;
    }
    
    .box2 img {
        height: 220px;
        width: 300px;
        margin-top: 100px;
        border: 2px solid transparent;
    }
    
    .box3 {
        display: flex;
        justify-content: space-evenly;
        align-items: bottom;
        border: 2px solid transparent;
    }
    
    .box3 img {
        height: 220px;
        width: 300px;
        margin-top: 100px;
        border: 2px solid transparent;
    }
    
    .box4 {
        display: flex;
        justify-content: space-evenly;
        border: 2px solid transparent;
    }
    
    .box4 img {
        height: 220px;
        width: 300px;
        margin-top: 100px;
        margin-right: 10px;
        border: 2px solid transparent;
    }
    
    .shop-section-2 {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-right: 18px;
        margin-left: 18px;
        position: relative;
        top: -150px;
    }
    
    .box-b p {
        font-size: 21px;
        font-weight: bold;
        padding-left: 20px;
        padding-top: 20px;
    }
    
    .box5 img {
        height: 150px;
        width: 120px;
        margin: 15px;
        border: 2px solid transparent;
    }
    
    .box-b {
        height: 420px;
        width: 320px;
        margin-top: 20px;
        background-color: white;
    }
    
    .box6 img {
        margin: 16px;
        border: 2px solid transparent;
    }
    
    .box7 img {
        margin: 20px;
        height: 250px;
        width: 250px;
        border: 2px solid transparent;
    }
    
    .box8 img {
        margin: 20px;
        height: 250px;
        width: 250px;
        border: 2px solid transparent;
    }
    
    new {
        font-size: 12px;
        color: rgb(156, 152, 152);
    }
    
    .price {
        margin-left: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        font-size: 15px;
        border: 2px solid transparent;
    }
    
    b {
        font-size: 18px;
    }
    
    span {
        font-size: 12px;
        font-weight: bold;
        color: rgb(175, 171, 171);
    }
    
    .footer-section {}
    
    .back-msg {
        background-color: #34475e;
        font-size: 12px;
        color: white;
        margin-top: 15px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border: 2px solid transparent;
    }
    
    .footer {
        background-color: #232f3e;
        color: white;
        margin-top: 0px;
        padding: 70px;
        height: 300px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer-content h4 {
        margin-bottom: 15px;
        border: 2px solid transparent;
    }
    
    .footer-content p {
        font-size: 15px;
        margin-bottom: 10px;
        border: 2px solid transparent;
    }
    
    .footer-icon {
        height: 100px;
        background-color: #1f2935;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer-icon img {
        margin-right: 60px;
        width: 110px;
        height: 90px;
        margin-top: 20px;
    }
    
    .language {
        margin-left: 30px;
        padding: 5px;
        color: white;
        height: 20px;
        width: 120px;
        border: 1px solid gray;
        margin-right: -5px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .ind {
        margin-left: 30px;
        padding: 5px;
        color: white;
        height: 20px;
        width: 120px;
        border: 1px solid gray;
        margin-right: -5px;
    }